:root {
  /*Colores*/
  --bg-color: hsl(33, 100%, 96%);
  --primary-color: hsl(175, 79%, 36%);
  --hover-color: hsl(175, 79%, 43%);
  --secondary-color: hsl(50, 100%, 52%);
}

::selection {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}
section {
  margin: 5em 4em;
}

h1,
h3 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  margin: 0;
  transition: color 300ms ease-out;
}
h1 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 2em;
}
h3:hover {
  cursor: pointer;
  color: var(--hover-color);
}
p {
  font-family: "Comic Neue", cursive;
  margin: 0;
  margin-bottom: 20px;
}

.counters {
  counter-reset: counters;
}

.section {
  position: relative;
}

.section::before {
  counter-increment: counters;
  content: counter(counters);
  position: absolute;
  transform: translateX(-2.5em);
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -0.25em;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  background-color: var(--secondary-color);
  box-sizing: border-box;
}

footer {
  margin-top: 3em;
  width: 100%;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  width: 2em;
  border: 3px solid var(--secondary-color);
  border-radius: 2px;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
}
footer .p_1 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.75em 0;
  text-align: center;
  background-color: rgba(170, 240, 209, 0.75);
}

footer .p_2 {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1em 0;
  text-align: center;
  font-size: 0.9em;
  background-color: #aaf0d1;
}
